.General {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.Lists {
  width: 1240px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
}

.Container {
  display: flex;
  column-gap: 8px;
  text-decoration: none;
}
.Item{
  display: flex;
  text-decoration: none;
  color: #8585ad;
}


.Item:hover {
	color: white;
  cursor: pointer;
}